@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

.aboutMePage {
  display: flex;
  flex-direction: row;
}

.pageContent {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
